include ../_config
include ../_mixins
include ../elements/_ui-page-loader-variant-1
include ../elements/_ui-rd-navbar-logo-center
include ../elements/_ui-box-icon-type-4
include ../elements/_ui-material-parallax
include ../elements/_ui-thumbnail-classic
include ../elements/_ui-isotope
include ../elements/_ui-testimonials-type-3
include ../elements/_ui-media-elements

doctype html
html.wide.wow-animation.scrollTo( lang='en' )
	head
		title= cfg.nav.home.submenu.skins.submenu.renaissance.title

		meta( charset='utf-8' )
		meta( name='format-detection' content='telephone=no' )
		meta( name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' )
		meta( http-equiv='X-UA-Compatible' content='IE=Edge' )
		block search-meta
			meta( name='keywords' content='intense web design multipurpose template' )
			meta( name='date' content='Dec 26' )

		link( rel='icon' href='images/favicon.ico' type='image/x-icon' )
		link( rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Dancing+Script:700%7CLato:300,300italic,400,700,900' )
		link( rel='stylesheet' href='../intense-handmade/css/style.css' )

		style .ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}


	body
		+page-loader-1( '<img class="img-fluid" style="margin-top: -20px;margin-left: -18px;" width="330" height="67" src="images/childs/handmade-logo-big.png" alt=""/>' )

		.ie-panel
			a( href='http://windows.microsoft.com/en-US/internet-explorer/' )
				img( src='images/ie8-panel/warning_bar_0000_us.jpg', height=42, width=820, alt='You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.' )

		.page.text-center
			// Page Head
			header.page-head
				//- RD Navbar
				+rd-navbar-logo-center(
					'rd-navbar-light',
					{
						'data-lg-auto-height': 'true',
						'data-md-layout': 'rd-navbar-fixed',
						'data-lg-layout': 'rd-navbar-static',
						'data-lg-stick-up': 'true'
					},
					'<img style="margin-top: -5px;margin-left: -15px;" width="210" height="36" src="images/childs/handmade-logo-dark.png" alt=""/>',
					cfg.nav.home,
					cfg.nav
				)


			// Welcome to Intense
			+material-parallax({
				img: 'images/backgrounds/background-34-1920x1100.jpg',
				Class: 'bg-overlay-gray-darkest context-dark'
			})
				.container
					.row.justify-content-sm-center.align-items-sm-center.section-cover.section-110
						.col-sm-12.col-xl-11
							.text-extra-big.font-accent Welcome to Intense
							h5.offset-top-20.text-regular.offset-top-0.inset-lg-left-80.inset-lg-right-80.d-none.d-md-block The smartest and most flexible bootstrap template by TemplateMonster you've ever seen. Create exactly what you need with our powerful bootstrap toolkit.

							.row.justify-content-sm-center.offset-top-66
								.col-sm-7.col-md-4.col-lg-4.col-xl-3.text-md-right.inset-md-left-50
									a.btn.btn-block.btn-ellipse.btn-primary(href=cfg.buyLink target='_blank') buy intense now
								.col-sm-7.col-md-4.col-lg-4.col-xl-3.text-md-left.inset-md-right-50.offset-top-20.offset-md-top-0
									a.btn.btn-block.btn-ellipse.btn-default.btn-anis-effect(href='#' data-waypoint-to='#about') start to journey

			// Welcome to Intense. Multipurpose Theme
			section.section-top-98.section-sm-top-110#about
				.container
					div
						h1.text-between Welcome to Intense. Multipurpose Theme
					.row.justify-content-sm-center
						.col-xl-8
							p Join the 205,000+ Satified Customers Today at TemplateMonster.com. Created by the industry leaders Intense is a comprehensive set of tools which are super easy to pick up and run. It gives you a huge leg up to create your own beautiful site. Powerful options & tools, unlimited designs, responsive framework and amazing support are the reasons for our customers to fall in love.

				// Mock Up
				.offset-top-66(style='overflow: hidden;')
					.mock-up-wrapper.d-none.d-md-inline-block
						.mock-up-desktop-wrapper.wow.fadeInUpBig(data-wow-duration='1s' data-wow-delay='0s')
							img(src='images/moqups/moqup-home-desktop.png' width='615' height='508' alt='').mock-up-desktop.img-fluid
						.mock-up-circle.d-none.d-lg-block.wow.zoomIn(data-wow-delay='1.6s')
							img(src='images/moqups/moqup-home-ellipse.png' width='309' height='315' alt='')
						.mock-up-mobile-wrapper.wow.fadeInUp(data-wow-delay='0.9s')
							img(src='images/moqups/moqup-home-mobile.png' width='247' height='470' alt='').mock-up-mobile

			// Take Full Control of Your Site
			+material-parallax({
				img: 'images/backgrounds/renaissance-35-1920x1250.jpg',
				Class: 'context-dark section-top-124 section-bottom-110',
				innerAttrs: { 'style':'background: rgba(0, 0, 0, 0.63);' }
			})
				.container
					div
						h1.text-between Take Full Control of Your Site
					.row.justify-content-sm-center
						.col-xl-8
							p Check out an incredible set of features provided by Intense. We collected all common required features in one theme. That makes Intense one of the most awesome themes on the market. Intense allows you to take control of almost every element and section of the site.
					.row.justify-content-sm-center.offset-top-66
						.col-sm-10.col-md-11.col-xl-12
							.row.justify-content-sm-center
								.col-md-6.col-xl-4
									+box-icon-type-4('icon-outlined icon-red-filled mdi mdi-cube-outline')
										h4.text-uppercase.offset-top-30.font-weight-bold EXTENDED TOOLKIT
										p.inset-left-7p.inset-right-7p.
											Intense provides a poweful and flexible exntended toolkit in addition to basic Bootsrap. If you’ve used Bootstrap itself, you’ll find this all super familiar and easy-to-use.
								.col-md-6.col-xl-4.offset-top-66.offset-md-top-0
									+box-icon-type-4('icon-outlined icon-red-filled mdi mdi-format-bold')
										h4.text-uppercase.offset-top-30.font-weight-bold UNLIMITED SKINS & COLORS
										p.inset-left-7p.inset-right-7p.
											Theme components inherit much of their style from variables, exactly like Bootstrap. Change a few values and the theme adapts.
								.col-md-6.col-xl-4.offset-top-66.offset-xl-top-0
									+box-icon-type-4('icon-outlined icon-red-filled mdi mdi-palette')
										h4.text-uppercase.offset-top-30.font-weight-bold PARALLAX EFFECTS
										p.inset-left-7p.inset-right-7p.
											Everyone loves parallax scrolling effects, they are simply beautiful. Intense has advanced parallax options & controls based on flexible and easy-to-use RD Parallax plugin.'
								.col-md-6.col-xl-4.offset-top-66
									+box-icon-type-4('icon-outlined icon-red-filled mdi mdi-vector-arrange-below')
										h4.text-uppercase.offset-top-30.font-weight-bold SOCIAL INTEGRATION
										p.inset-left-7p.inset-right-7p.
											Intense has full set of social icons and styling options which allow you to share any content the way you wish.
								.col-md-6.col-xl-4.offset-top-66
									+box-icon-type-4('icon-outlined icon-red-filled mdi mdi-share-variant')
										h4.text-uppercase.offset-top-30.font-weight-bold MADE FOR SPEED
										p.inset-left-7p.inset-right-7p.
											We know how embarassing and time-consuming can be content loading, so we took care of pages optimization for your smooth expirience.
								.col-md-6.col-xl-4.offset-top-66
									+box-icon-type-4('icon-outlined icon-red-filled mdi mdi-spellcheck')
										h4.text-uppercase.offset-top-30.font-weight-bold SEO OPTIMIZED
										p.inset-left-7p.inset-right-7p.
											Intense was built with care allowing search engines to index the pages of your site correctly to achieve higher rankings in search results.

			// Intense Is Exactly What You Need
			section.section-98.context-dark.bg-red
				.container
					div
						h1.text-between Intense Is Exactly What You Need
					.row.justify-content-sm-center
						.col-sm-7.col-md-4.col-lg-4.col-xl-3.text-md-right
							.inset-md-left-20.inset-md-right-20
								a.btn.btn-block.btn-ellipse.btn-default.btn-anis-effect(href=cfg.buyLink target='_blank') buy intense now

			// About US
			section.section-98.section-md-110
				.container
					h1.text-between About Us
					.row.align-items-sm-start.text-xl-left.offset-top-30
						.offset-md-2.col-md-8.offset-xl-0.col-xl-6.order-xl-6
							.shadow-drop-xl
								// Media Elements
								+media-elements({
									type: "rd-video-player",
									ratio: "16by9",
									href: "video/intense/intense",
									title: "What can we say about Intense ?",
									preview: "video/intense/intense-preview.jpg",
									classes: "play-on-scroll",
									muted: "true",
									preload: "false"
								})

						.offset-md-2.col-md-8.offset-xl-0.col-xl-6.col-xl-pull-6.offset-top-30.offset-xl-top-0
							.inset-xl-right-50
								p TemplateMonster is an A-size depot of website templates - more than 46,000 designs to choose from. Since coming up in May 2002, we've gone partners with Magento, Drupal, WordPress, PrestaShop, Joomla, WooCommerce, and many more. 1 million clients were served during this time. Web templates + installation + hosting + customization + Search Engine Optimization + copywriting — all these services you can always get at TemplateMonster.com. If you're thirsty for knowledge, TemplateMonster blog provides you with the most recent web design news, infographics, freebies, discounts & promos.
							.row.justify-content-sm-center.justify-content-xl-start.offset-top-30
								.col-sm-7.col-md-5.text-md-right
									.inset-xl-right-20
										a.btn.btn-block.btn-ellipse.btn-primary(href=cfg.buyLink target='_blank') learn more

			// Our Team
			section.section-98.section-sm-110.bg-lighter
				.container
					h1.text-between Our Team
					.row.justify-content-sm-center.offset-top-30
						.col-sm-11.col-lg-9.col-xl-12
							.row.text-md-left
								.col-sm-6.col-xl-4
									.unit.unit-sm.flex-md-row.unit-spacing-xs
										.unit-left
											img(src='images/users/user-ralph-holland-120x120.jpg' width='120' height='120' alt='Ralph Holland')
										.unit-body
											div
												h5.text-primary
													a(href=cfg.nav.pages.submenu.teamMember.href) Ralph Holland
											div.offset-top-4
												.text-dark.offset-top-0 Software Developer
											ul.list-inline.offset-top-14.text-darker
												li.list-inline-item
													a(href='#' class='fa fa-facebook')
												li.list-inline-item
													a(href='#' class='fa fa-twitter')
												li.list-inline-item
													a(href='#' class='fa fa-google-plus')

								.col-sm-6.col-xl-4.offset-top-41.offset-sm-top-0
									.unit.unit-sm.flex-md-row.unit-spacing-xs
										.unit-left
											img(src='images/users/user-marie-nyers-120x120.jpg' width='120' height='120' alt='Marie Myers')
										.unit-body
											div
												h5.text-primary
													a(href=cfg.nav.pages.submenu.teamMember.href) Marie Myers
											div.offset-top-4
												.text-dark.offset-top-0 Support Operator
											ul.list-inline.offset-top-14.text-darker
												li.list-inline-item
													a(href='#' class='fa fa-facebook')
												li.list-inline-item
													a(href='#' class='fa fa-twitter')
												li.list-inline-item
													a(href='#' class='fa fa-google-plus')

								.col-sm-6.col-xl-4.offset-top-41.offset-xl-top-0
									.unit.unit-sm.flex-md-row.unit-spacing-xs
										.unit-left
											img(src='images/users/user-anthony-sanders-120x120.jpg' width='120' height='120' alt='Anthony Sanders')
										.unit-body
											div
												h5.text-primary
													a(href=cfg.nav.pages.submenu.teamMember.href) Anthony Sanders
											div.offset-top-4
												.text-dark.offset-top-0 Creative Director
											ul.list-inline.offset-top-14.text-darker
												li.list-inline-item
													a(href='#' class='fa fa-facebook')
												li.list-inline-item
													a(href='#' class='fa fa-twitter')
												li.list-inline-item
													a(href='#' class='fa fa-google-plus')

								// Next Range
								.row-spacer.d-none.d-xl-block.offset-top-66

								.col-sm-6.col-xl-4.offset-top-41.offset-xl-top-0
									.unit.unit-sm.flex-md-row.unit-spacing-xs
										.unit-left
											img(src='images/users/user-tyler-perez-120x120.jpg' width='120' height='120' alt='Tyler Perez')
										.unit-body
											div
												h5.text-primary
													a(href=cfg.nav.pages.submenu.teamMember.href) Tyler Perez
											div.offset-top-4
												.text-dark.offset-top-0 Founder, Sales
											ul.list-inline.offset-top-14.text-darker
												li.list-inline-item
													a(href='#' class='fa fa-facebook')
												li.list-inline-item
													a(href='#' class='fa fa-twitter')
												li.list-inline-item
													a(href='#' class='fa fa-google-plus')

								.col-sm-6.col-xl-4.offset-top-41.offset-xl-top-0
									.unit.unit-sm.flex-md-row.unit-spacing-xs
										.unit-left
											img(src='images/users/user-gloria-warren-120x120.jpg' width='120' height='120' alt='Gloria Warren')
										.unit-body
											div
												h5.text-primary
													a(href=cfg.nav.pages.submenu.teamMember.href) Gloria Warren
											div.offset-top-4
												.text-dark.offset-top-0 Software Developer
											ul.list-inline.offset-top-14.text-darker
												li.list-inline-item
													a(href='#' class='fa fa-facebook')
												li.list-inline-item
													a(href='#' class='fa fa-twitter')
												li.list-inline-item
													a(href='#' class='fa fa-google-plus')

								.col-sm-6.col-xl-4.offset-top-41.offset-xl-top-0
									.unit.unit-sm.flex-md-row.unit-spacing-xs
										.unit-left
											img(src='images/users/user-sarah-graham-120x120.jpg' width='120' height='120' alt='Sarah Graham')
										.unit-body
											div
												h5.text-primary
													a(href=cfg.nav.pages.submenu.teamMember.href) Sarah Graham
											div.offset-top-4
												.text-dark.offset-top-0 Support Operator
											ul.list-inline.offset-top-14.text-darker
												li.list-inline-item
													a(href='#' class='fa fa-facebook')
												li.list-inline-item
													a(href='#' class='fa fa-twitter')
												li.list-inline-item
													a(href='#' class='fa fa-google-plus')

					.row.justify-content-sm-center.offset-top-66
						.col-sm-10.col-md-6.col-lg-5.col-xl-4.inset-left-50.inset-sm-left-80.inset-right-50.inset-sm-right-80
							a(href=cfg.nav.components.submenu.toolkitComponents.submenu.memberBoxes.href).btn.btn-block.btn-default.btn-ellipse view all members

			// Still Not Sure?
			section.section-98.section-md-110
				.container-fluid
					h1.text-between Still Not Sure?
					p.offset-top-24 Check out other themes based on INTENSE
					.offset-top-41
						+isotope(['All', 'Infrastructure', 'Portfolio', 'Blog', 'Agency', 'Creative'],{
							'group': 'gallery',
							'layout': 'fitRows',
							'alignClass': 'isotope-filters-horizontal'
						}, 'isotope-1')
							// Isotope
							.row.grid-group-sm
								- for ( var key in cfg.themes )
									.col-12.col-md-6.col-xl-4.isotope-item( data-filter=cfg.themes[ key ].category )
										.shadow-variant-2
											+thumbnail-classic({
												type: "thumbnail",
												title: cfg.themes[ key ].title,
												description: cfg.themes[ key ].desc,
												thumb: cfg.themes[ key ].image,
												target: { href: cfg.themes[ key ].href },
												targetBlank: true,
												titleAttrs: 'text-uppercase text-darkest'
											})


			section.bg-lighter.section-98.section-md-110
				.container
					h1.text-between What Clients Say?
					.row.justify-content-sm-center.offset-top-66
						.col-sm-10.col-md-8.col-xl-12
							.owl-carousel.owl-carousel-classic.owl-carousel-class-light.owl-carousel-testimonials-3(data-items='1' data-stage-padding='10' data-margin='25' data-lg-margin='25' data-xl-margin='25' data-xl-items='3' data-nav='false' data-dots='true')
								div
									+testimonials-type-3(
									{
										'width': 80,
										'height': 80,
										'src': 'images/users/user-katherine-ferguson-80x80.jpg',
										'alt': ''
									},
									'Katherine Ferguson',
									'Ceo/Founder at demolink.com',
									'This website is a perfect place to get consumables for any handmade ideas, both for enthusiasts and professionals.',
									{
										'title': 'h6',
										'cite': 'font-weight-bold text-normal text-uppercase',
										'desc': 'text-uppercase text-neon-carrot'
									}
									)
								div
									+testimonials-type-3(
									{
										'width': 80,
										'height': 80,
										'src': 'images/users/user-alisa-milano-80x80.jpg',
										'alt': ''
									},
									'Alisa Milano',
									'Sales at demolink.com',
									'Folore magna aliqua. Ut enim ad minim nisi veniam, quis nostrud exer citation ullamco laboris nisi ut',
									{
										'title': 'h6',
										'cite': 'font-weight-bold text-normal text-uppercase',
										'desc': 'text-uppercase text-neon-carrot'
									}
									)
								div
									+testimonials-type-3(
									{
										'width': 80,
										'height': 80,
										'src': 'images/users/user-betty-hunt-80x80.jpg',
										'alt': ''
									},
									'Betty Hunt',
									'Support at demolink.com',
									'Your articles are very informative – they help me introduce fresh ideas into my handmade decorations.',
									{
										'title': 'h6',
										'cite': 'font-weight-bold text-normal text-uppercase',
										'desc': 'text-uppercase text-neon-carrot'
									}
									)
								div
									+testimonials-type-3(
									{
										'width': 80,
										'height': 80,
										'src': 'images/users/user-betty-hunt-80x80.jpg',
										'alt': ''
									},
									'Betty Hunt',
									'Support at demolink.com',
									'The more I read your blog and browse your website, the better I become in creating handmade gifts.',
									{
										'title': 'h6',
										'cite': 'font-weight-bold text-normal text-uppercase',
										'desc': 'text-uppercase text-neon-carrot'
									}
									)
								div
									+testimonials-type-3(
									{
										'width': 80,
										'height': 80,
										'src': 'images/users/user-alisa-milano-80x80.jpg',
										'alt': ''
									},
									'Alisa Milano',
									'Sales at demolink.com',
									'Folore magna aliqua. Ut enim ad minim nisi veniam, quis nostrud exer citation ullamco laboris nisi ut',
									{
										'title': 'h6',
										'cite': 'font-weight-bold text-normal text-uppercase',
										'desc': 'text-uppercase text-neon-carrot'
									}
									)
								div
									+testimonials-type-3(
									{
										'width': 80,
										'height': 80,
										'src': 'images/users/user-betty-hunt-80x80.jpg',
										'alt': ''
									},
									'Betty Hunt',
									'Support at demolink.com',
									'Lorem ipsum dolor sit amet conse ctetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore ',
									{
										'title': 'h6',
										'cite': 'font-weight-bold text-normal text-uppercase',
										'desc': 'text-uppercase text-neon-carrot'
									}
									)
								div
									+testimonials-type-3(
									{
										'width': 80,
										'height': 80,
										'src': 'images/users/user-betty-hunt-80x80.jpg',
										'alt': ''
									},
									'Betty Hunt',
									'Support at demolink.com',
									'Lorem ipsum dolor sit amet conse ctetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore ',
									{
										'title': 'h6',
										'cite': 'font-weight-bold text-normal text-uppercase',
										'desc': 'text-uppercase text-neon-carrot'
									}
									)
								div
									+testimonials-type-3(
									{
										'width': 80,
										'height': 80,
										'src': 'images/users/user-katherine-ferguson-80x80.jpg',
										'alt': ''
									},
									'Katherine Ferguson',
									'Ceo/Founder at demolink.com',
									'Lorem ipsum dolor sit amet conse ctetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore ',
									{
										'title': 'h6',
										'cite': 'font-weight-bold text-normal text-uppercase',
										'desc': 'text-uppercase text-neon-carrot'
									}
									)
								div
									+testimonials-type-3(
									{
										'width': 80,
										'height': 80,
										'src': 'images/users/user-alisa-milano-80x80.jpg',
										'alt': ''
									},
									'Alisa Milano',
									'Sales at demolink.com',
									'Folore magna aliqua. Ut enim ad minim nisi veniam, quis nostrud exer citation ullamco laboris nisi ut',
									{
										'title': 'h6',
										'cite': 'font-weight-bold text-normal text-uppercase',
										'desc': 'text-uppercase text-neon-carrot'
									}
									)


			// Page Footer
			footer.section.novi-background.section-relative.section-34.page-footer.bg-gray-base.context-dark
				.container
					.row.justify-content-md-center.text-xl-left
						.col-md-12
							.row.justify-content-sm-center

								.col-sm-12.col-lg-8.order-lg-2.text-lg-right
									div
										ul.list-inline.list-inline-dashed.p.text-darker.list-inline-md.list-inline-dashed-wide
											li.list-inline-item
												a(href='#') Documentation
											li.list-inline-item
												a(href='#') Plugins
											li.list-inline-item
												a(href='#') Themes
											li.list-inline-item
												a(href='#') Support
											li.list-inline-item
												a(href='#') GitHub

									ul.list-inline.list-inline-white.offset-top-10.text-darker
										li.list-inline-item
											a(href='#' class='fa fa-facebook')
										li.list-inline-item
											a(href='#' class='fa fa-twitter')
										li.list-inline-item
											a(href='#' class='fa fa-google-plus')
										li.list-inline-item
											a(href='#' class='fa fa-pinterest')
										li.list-inline-item
											a(href='#' class='fa fa-vimeo')
										li.list-inline-item
											a(href='#' class='fa fa-youtube')
										li.list-inline-item
											a(href='#' class='fa fa-linkedin')
										li.list-inline-item
											a(href='#' class='fa fa-github')
										li.list-inline-item
											a(href='#' class='fa fa-yahoo')

								.col-sm-12.col-lg-4.order-lg-1.offset-top-34.offset-lg-top-0
									// Footer brand
									.footer-brand
										a(href='../index.html')
											!= '<img style="margin-top: -5px;margin-left: -15px;" width="210" height="36" src="images/childs/handmade-logo-light.png" alt=""/>'
									p.small.text-darker.offset-top-4
										| &copy; #[span.copyright-year] . #[a(href='privacy.html') Privacy Policy]

		// Global Mailform Output
		#form-output-global.snackbars

		// Java script
		script(src='js/core.min.js')
		script(src='js/script.js')
