//- Testimonials Slider

mixin testimonials-slider-4(testimonials)
  // Testimonials Slider v.4
  .owl-carousel.owl-carousel-classic.owl-carousel-class-light.owl-carousel-testimonials-3.veil-owl-nav(data-items="1" data-md-items="2" data-xl-items="3" data-nav="false" data-dots="true" data-margin="50px" data-lg-margin="50px" data-xl-margin="50px" )
    each testimonial in testimonials
      div
        blockquote.quote.quote-slider-4.unit.uni-spacing-sm.flex-md-row
          .unit-left
            img.quote-img.rounded-circle(width=testimonial.image.width, height=testimonial.image.height, src=testimonial.image.src, alt=testimonial.image.alt)
          .unit-body.text-left
            div
              p
                q= testimonial.q
            p.font-weight-bold.quote-author.offset-top-10.offset-md-top-4
              cite.text-normal= testimonial.title
