//- isotope - Isotope object
//- amountList - array of Isotope

mixin isotope(amountList, isotope, filterID, shell, attr)
  - var title = isotope.title? isotope.title : "Categories"
  - var gridF = isotope.alignClass === "isotope-filters-vertical"? shell === "shell-wide" ? "col-xl-2" : "col-xl-3": "col-xl-12"
  - var gridC = isotope.alignClass === "isotope-filters-vertical"? shell === "shell-wide" ? "col-xl-10 offset-xl-top-0" : "col-xl-9 offset-xl-top-0": "col-xl-12"
  - gridF = isotope.reverse? gridF + " ": gridF

  .isotope-wrap
    .row
      if amountList
        // Isotope Filters
        div(class= gridF)
          .isotope-filters(class= isotope.alignClass, class= attr)
            if (isotope.alignClass === "isotope-filters-vertical")
              h4.text-uppercase.font-weight-bold.isotope-filters-title.offset-top-34= title

            ul.list-inline.list-inline-sm
              li.list-inline-item.d-lg-none
                p Choose your category:
              li.list-inline-item.section-relative
                button.isotope-filters-toggle.btn.btn-sm.btn-default(data-custom-toggle=filterID data-custom-toggle-disable-on-blur="true") Filter
                  span.caret

                ul.list-sm-inline.isotope-filters-list(id=filterID)
                  each item, index in amountList
                    li.list-inline-item
                      a.font-weight-bold(class=index === 0 ? "active" : "", data-isotope-filter= item.toLocaleLowerCase() === "all" ? "*" : item, data-isotope-group= isotope.group, href="#")= item

      // Isotope Content
      if amountList
        div(class=gridC).offset-top-34
          .isotope(data-isotope-layout= isotope.layout, data-isotope-group= isotope.group)
            block
      else
        .col-12
          .isotope(data-isotope-layout= isotope.layout, data-isotope-group= isotope.group)
            block
