include ../elements/_widget-post.pug
include ../elements/_widget-form-subscribe.pug
include ../elements/_widget-list-social.pug

// Default footer
footer.section.novi-background.section-relative.section-top-66.section-bottom-34.page-footer.bg-black.context-dark
  .container
    .row.justify-content-sm-center.text-xl-left.grid-group-md
      .col-sm-12.col-xl-3
        // Footer brand
        .footer-brand
          a(href=cfg.nav.home.href)
            !=cfg.brand.logoInverse
        p.text-darker.offset-top-4 Feel the power of future

        +widget-list-social([
          { icon: "fa fa-facebook", href: "#" },
          { icon: "fa fa-twitter", href: "#" },
          { icon: "fa fa-google-plus", href: "#" },
          { icon: "fa fa-linkedin", href: "#" }
        ])

      .col-sm-12.col-md-8.col-lg-5.col-xl-4.text-lg-left
        h6.text-uppercase.text-spacing-60 Newsletter

        p Keep up with our always upcoming  product features  and technologies. Enter your e-mail and subscribe to  our newsletter.

        .offset-top-30
          +widget-form-subscribe( "Type your E-Mail", "form-subscribe-footer" )

      .col-sm-5.col-lg-3.col-xl-2.text-sm-left
        h6.text-uppercase.text-spacing-60 Useful Links
        .d-block
          .d-inline-block
            ul.list.list-marked
              li: a(href=cfg.nav.pages.submenu.aboutUs.href)= cfg.nav.pages.submenu.aboutUs.title
              li: a(href=cfg.nav.pages.submenu.contactUs.href)= cfg.nav.pages.submenu.contactUs.title
              li: a(href=cfg.nav.pages.submenu.services.href)= cfg.nav.pages.submenu.services.title
              li: a(href=cfg.nav.pages.submenu.pricing.href)= cfg.nav.pages.submenu.pricing.title
              li: a(href=cfg.nav.pages.submenu.clients.href)= cfg.nav.pages.submenu.clients.title

      .col-sm-7.text-sm-left.col-lg-4.col-xl-3
        h6.text-uppercase.text-spacing-60 Latest news

        +widget-post( cfg.nav.blog.submenu.classic.submenu.singlePost.href, "05/14/2018", "Let’s Change the world", null, "text-picton-blue" )
        +widget-post( cfg.nav.blog.submenu.classic.submenu.singlePost.href, "05/14/2018", "The meaning of Web Design", null, "text-picton-blue" )
        +widget-post( cfg.nav.blog.submenu.classic.submenu.singlePost.href, "05/14/2018", "Get Started with TemplateMonster", null, "text-picton-blue" )

  .container.offset-top-50
    p.small.text-darker
      | #{cfg.brand.name} &copy; #[span.copyright-year] . #[a(href="privacy.html") Privacy Policy]
